@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@400;700&family=Josefin+Sans:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;1,300;1,400;1,900&family=Mingzat&family=Poppins:ital,wght@0,100;0,400;0,600;1,100;1,200;1,300&family=Ubuntu:wght@300;400;500&display=swap');

body {
  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
  font-family: 'Italiana', serif;
}

#root > main.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}